{% extends 'templates/header.html' %}

        {% block main %}

        <div class="panel panel-default">
            {% for produto in produtos %}
            {% set top = (((loop.index - 1) // 5) * 225) + 75 %}
            {% set left = (((loop.index - 1) % 5) * 225) + 115 %}
            <div class="shop-item" style="top: {{ top }}px; left: {{ left }}px;" data-toggle="modal">
                <div class="modal fade" id="modal-container-{{ loop.index }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								{{ produto.nome }}
							</h4>
						</div>
						<div class="modal-body">
							<img src="/static/img/{{ produto.imagem }}.png" width="300" height="400" class="img-shop-item" />
						</div>
					</div>
				</div>
                </div>
                <img src="/static/img/{{ produto.imagem }}.png" width="128" height="128" class="img-shop-item" onclick="$('#modal-container-{{ loop.index }}').modal()" />
                <br /><br />
                <label class="label-shop-item" onclick="window.location.href = '/rest/crud/descricao?produto={{ produto.key.id() }}'">{{ produto.nome }}</label>
                <label class="label-shop-item" onclick="window.location.href = '/rest/crud/descricao?produto={{ produto.key.id() }}'">R$ {{ produto.preco }}</label>
            </div>
            {% endfor %}
        </div>

        {% endblock %}