{% extends 'templates/header.html' %}

{% block main %}

<div class="panel panel-default" ng-app="app" ng-controller="appController">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="th-product">Imagem</th>
            <th class="th-product">Nome</th>
            <th class="th-product">Preço</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="produto in produtos">
                <td class="td-product">
                    <img ng-src="/static/img/{_ produto.imagem _}.png" ng-hide="produto.editando" width="64" height="64" ng-click="abrirModalProduto()" class="hand-cursor" />
                    <input type="text" class="form-control" ng-show="produto.editando" ng-model="produto.imagem" />
                </td>
                <td class="td-product">
                    <span ng-hide="produto.editando">{_ produto.nome _}</span>
                    <input type="text" class="form-control" ng-show="produto.editando" ng-model="produto.nome" />
                </td>
                <td class="td-product">
                    <span ng-hide="produto.editando">R$ {_ produto.preco _}</span>
                    <input type="text" class="form-control" ng-show="produto.editando" ng-model="produto.preco" />
                </td>
                <div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    {_ produto.nome _}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img ng-src="/static/img/{_ produto.imagem _}.png" width="512" height="512" />
                            </div>
                        </div>
                    </div>
                </div>
                {% if admin %}
                <td class="td-product">
                   <button class="btn btn-warning" title="editar"
                           ng-click="editarProduto(produto)" ng-hide="produto.editando">
                       <span class="glyphicon glyphicon-pencil"></span>
                   </button>
                    <button class="btn btn-success" title="salvar"
                                        ng-click="confirmarEdicao(produto)" ng-show="produto.editando">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                </button>
                                <button class="btn btn-danger" title="deletar"
                                        ng-click="removerElemento(produto, $index)" ng-hide="produto.editando">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}